/* -------desktop------- */

@media all and (min-width: 992px) and (max-width:1400px) {
  #wrapper {
    width:1400px;
  }
}

/* --------tablette ------ */

@media all and (min-width: 768px) and (max-width: 991px) {
  .filter_field{
    margin-left: -5px;
  }
  .filter_item {
    padding: 10px 5px 10px 4px;
  }
  #family_filter .filter_icon{
    margin-left: 8px;
  }
  .main_wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .hosting_section {
    width: 100%;
  }
  .hosting_title,
  .hosting_bottom {
    margin-left: 15px;
  }
  .hosting_cards_wrapper {
    gap: 15px;
  }
  .hosting_card {
    width: 30%;
    height: 200px;
  }
  .sponsored_section {
    width: 100%;
    justify-content: center;
    margin-top: 15px;
  }
  .sponsored_card img {
    width: 40%;
   
  }
  .sponsored_cards_wrapper {
    width: 95%;
    flex-direction: row;
    
  }
  .sponsored_stars{
    margin-top: -5px;
  }
  .sponsored_title {
    width: 95%;
  }
  .activity_card img {
    height: 270px;
  }
}

/* -------mobile-------- */

@media all and (min-width: 375px) and (max-width: 767px) {
 
  .header_section {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0;
    margin-bottom:20px;
  
  }
  .booki_logo {
    margin: auto;
  }
  .header_menu {
    width: 100%;
    border-bottom: 1px solid var(--gray);
    margin-top: 20px;
  }
  .menu{
    justify-content:space-around;
    margin-left: -50px;
  }
   .menu_link::before{
    transform: translateY(70px);
  } 
  /* stretching the line under the link */
   .menu_link:hover::before{
    margin-left: -50px;
    padding: 0 30px; 
  } 
  .menu_link:nth-child(2):hover::before{
    padding: 0 50px; 
  }
  .search_section {
    justify-content: center;
    align-items: center;
  }

  .search_section h1 {
    width: 100%;
    margin-top: -5px;
  }

  .search_subtitle {
    font-size: 15px;
    align-self: flex-start;
    padding: 10px 0;
    margin-left: 5px;
  }

  .search_wrapper {
    width: 95%;
    margin-left: -10px;
  }
  .search-form {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  .search_input {
    width: 100%;
  }
  /* line under input */
  .search_input::placeholder {
    padding-right: 10px;
  }
  .search_button {
    width: 50px;
    height: 50px;
  }

  .search_button::before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-weight: 900;
    font-size: 16px;
  }

  .search_button::after {
    content: "";
  }
  .fa-map-marker-alt {
    width: 50px;
    height: 50px;
  }

  .filter_wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .filter_field {
    flex-wrap: wrap;
    gap: 15px 5px;
    margin-left: -25px;
  }
  .filter_item {
    padding: 12px 19px ;
  }
  .filter_item span {
    font-size: 12px;
  }
  #animals_filter .filter_icon {
    margin-right: 2px;
  }
  #family_filter span {
    padding-right: 55px;
  }
  #romantic_filter span{
    padding-right: 5px;
  }

  #animals_filter span {
    margin-left: -5px;
  }
  .filter_title {
    align-self: flex-start;

    margin-bottom: 15px;
    font-size: 16px;
  }
  .filter_icon {
    font-size: 12px;
    align-self: center;
  }
  .fa-info {
    font-size: smaller;
    height: 20px;
  }
  .info_text {
    padding:0;
    margin-left: 10px;
    margin-bottom: -10px;
  }

  .main_wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .sponsored_section {
    width: 100%;
    background-color: var(--gray);
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    border-radius: 0;
  }
  .sponsored_title {
    width: 100%;
    justify-content: space-between;
    justify-items: center;
  }
  .sponsored_title h2{
    margin-left: 10px;
  }
  .sponsored_icon{
    margin-right: 5px;
  }
  .sponsored_card {
    width: 95%;
    height: 200px;
  }
  .sponsored_card img {
    width: 50%;
    height: 100%;
  }
  .sponsored_card:hover {
    transform: none;
  }

  .sponsored_title h3 {
    font-size: 16px;
  }
  .sponsored_text {
    justify-content: space-around;
  }
  .sponsored_stars {
    margin-bottom: -25px;
  }

  .hosting_section {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 0;
    padding: 0;
    filter:none;
  }

  .hosting_title {
    align-self: flex-start;
  }

  .hosting_cards_wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hosting_card {
    width: 95%;
  }
  /* The aspect ratio of an image is the ratio of its width to its height,
   to prevent image from growing */
  .hosting_card img{
    aspect-ratio: 3 / 1;
  }
 
  .hosting_stars {
    margin-top: 20px;
    font-size: 12px;
    padding-left: 10px;
  }
  .hosting_card:hover {
    transform: none;
  }
  .hosting_bottom {
    display: none;
  }

  .activities_section {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .activity_cards_wrapper {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px; 
    padding: 0;
  }
  .activity_card {
    flex-direction: column;
    width: 95%;
    height: 200px;
    
  }
  .activity_card img  {
     height: 70%;
  }
  .activity_card:hover {
    transform: none;
  }

  .footer_section {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px 0 auto;
  }

  .footer_section ul + ul {
    margin-top: -35px;
  }

}

